@use './variables' as *;

.card {
    border: 1px solid $color-2;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 16px;
    background-color: $color-1;
    color: $color-3;
}