// paleta de colores de norteña //

$color-1: #e4cca4;
$color-2: #e1a367;
$color-3: #c85931;
$color-4: #efe7da;
$color-5: #1a1a1a;
$color-6: #4c1d17;
$color-7: #b3907a;
$color-8: #ffffff;

$font-primary: 'Bricolage Grotesque', sans-serif; //para textos e info
$font-secondary: 'Intstrument', sans-serif; // para titulos destacados

